body {
    background-color: #f9f9f9;
    font-size: 2em;
}

.timer-box {
    top: 50px;
    margin: 10px auto;
    width: 300px;
    position: relative;
}

#seconds {
    fill: #15ad15;
}

#mainCircle {
    fill: #fff;
    stroke: #15ad15;
    stroke-width: 18;
    stroke-dashoffset: 0;
}

#ghostCircle {
    fill: #fff;
    stroke: #fff;
    stroke-width: 18;
}

.circle {
    /*    margin: 25% 20%;*/
    height: 350px;
    width: 320px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.19);
    position: absolute;
    margin: auto;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

svg {
    margin-top: 5%;
    height: 290px;
    margin-left: 10px;
}

h1 {
    text-align: center;
}

.main-container {
    margin: auto;
}

.some-button {
    background-color: crimson;
    color: black;
    /*    margin-top: 5px;*/
    padding: 10px;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5em;
    transition: all 0.5s ease;
}

.some-button:hover {
    background-color: #a70000;
    color: teal;
    color: white;
    transition: all 1s ease;
}

#send-button {
    display: block;
    width: 200px;
    margin: 10px auto;
    font-size: 1.2em;
    padding: 10px;
    color: white;
}

.player-text {
    font-size: 1.2em;
}

.hand-cursor {
    cursor: pointer;
}

#score-controls {
    /*margin: 15% auto;*/
    padding: 20px;
    border: 1px solid #d8dee2;
    background: #fff;
    border-radius: 5px;
    color: black;
}

.input-box-wrapper {
    margin: 7% auto;
}

select {
    width: 50%;
    margin: auto;
    padding: 10px 10px;
    border: 1px solid black;
    display: block;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.main-name {
    color: darkred;
    font-size: 1.5em;
    text-transform: uppercase;
}

#over-time {
    color: red;
    margin-top: 105%;
    margin-left: 25px;
}

.name-field {
    font-size: 1.2em;
    height: 1.8em;
}

.label-name {
    font-size: 1.1em;
}

#info-header {
    text-align: center;
    line-height: 40px;
}